<?xml version="1.0" encoding="utf-8"?>
<Module>
  <Item ItemName="Default" FilePath="UploadFile" AllowExt="jpg|jpeg|gif" MaxSize="0" />
  <Item ItemName="Images" FilePath="UploadFile" AllowExt="jpg|jpeg|gif" MaxSize="5120" />
  <Item ItemName="Flash" FilePath="UploadFile" AllowExt="swf" MaxSize="5120" />
  <Item ItemName="Video" FilePath="UploadFile" AllowExt="flv|asf|wmv" MaxSize="1024000" />
  <Item ItemName="File" FilePath="UploadFile" AllowExt="doc|docx|ppt|pptx|xls|xlsx|rar|zip|pdf" MaxSize="102400" />
  <Item ItemName="Template" FilePath="UploadFile" AllowExt="zip" MaxSize="102400" />
  <Item ItemName="NewsImport" FilePath="UploadFile" AllowExt="xml" MaxSize="102400" />
</Module>