<?xml version="1.0" encoding="utf-8"?>
<cnvp>
  <version>1.0</version>
  <copyright>cnvp</copyright>
  <color>
    <item colorname="颜色" colorvalue="" fontcolor="#000000"/>
    <item colorname="纯黑" colorvalue="000000" fontcolor="FFFFFF"/>
    <item colorname="灰色" colorvalue="808080" fontcolor="FFFFFF"/>
    <item colorname="银灰" colorvalue="C0C0C0" fontcolor="FFFFFF"/>
    <item colorname="白烟" colorvalue="F5F5F5" fontcolor="000000"/>
    <item colorname="纯白" colorvalue="FFFFFF" fontcolor="000000"/>
    <item colorname="栗色" colorvalue="800000" fontcolor="FFFFFF"/>
    <item colorname="深红" colorvalue="8B0000" fontcolor="FFFFFF"/>
    <item colorname="纯红" colorvalue="FF0000" fontcolor="FFFFFF"/>
    <item colorname="橙色" colorvalue="FFA500" fontcolor="FFFFFF"/>
    <item colorname="金色" colorvalue="FFD700" fontcolor="FFFFFF"/>
    <item colorname="橄榄" colorvalue="808000" fontcolor="FFFFFF"/>
    <item colorname="纯黄" colorvalue="FFFF00" fontcolor="000000"/>
    <item colorname="纯绿" colorvalue="008000" fontcolor="FFFFFF"/>
    <item colorname="青色" colorvalue="00FFFF" fontcolor="FFFFFF"/>
    <item colorname="亮蓝" colorvalue="ADD8E6" fontcolor="FFFFFF"/>
    <item colorname="钢蓝" colorvalue="4682B4" fontcolor="FFFFFF"/>
    <item colorname="纯蓝" colorvalue="0000FF" fontcolor="FFFFFF"/>
    <item colorname="纯绿" colorvalue="008000" fontcolor="FFFFFF"/>
    <item colorname="靛青" colorvalue="4B0082" fontcolor="FFFFFF"/>
    <item colorname="紫色" colorvalue="800080" fontcolor="FFFFFF"/>
  </color>
</cnvp>